* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #EEE;
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.player {
    background-color: #FFF;
    padding: 100px 50px;
    width: 414px;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
}

.song-img {
    position: relative;
    display: block;
    margin: 0 auto;
    
    width: 200px;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.3);

    margin-bottom: 50px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('images/day-one.jpeg');

    transition: 0.4s;
}

.song-img:before {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border: 2px solid #EEE;
    border-radius: 50%;
}
.song-img:after {
    content: '';
    padding-top: 100%;
    display: block;
}

.song-details {
    text-align: center;
    margin-bottom: 30px;
}

.song-details h2 {
       font-size: 24px;
       font-weight: 600;
       color: #313131;
       margin-bottom: 5px;
}

.song-details h3 {
    font-size: 16px;
    font-weight: 500;
    color: #888;
    margin-bottom: 5px;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.player-controls .play-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #FE4880;
    color: #FFF;
    margin: 0px 15px;

    border: none;
    outline: none;
    appearance: none;
    cursor: pointer;

    box-shadow: 0px 6px 12px rgba(254, 72, 128, 0.6);
    transition: 0.4s;
}

.player-controls .play-btn:hover {
    box-shadow: 0px 8px 16px rgba(254, 72, 128, 0.8);
}


.player-controls .control-btn {
    background: none;
    border: none;
    outline: none;
    appearance: none;
    margin: auto;

    cursor: pointer;
    color: #ccc;
    transition: 0.4s;
}

.active-btn {
    color:#FE4880 !important; 
}


.player-controls .control-btn:hover {
    color: #888
}

.next-up p {
    color:#888;
    text-align: center;
    font-weight: 700;
    font-size: 16px;
}

.next-up p span {
    font-weight: 400;
    font-style: italic;
}

@media (max-width: 414px) {
    .player {
        min-height: 100vh;
        border-radius: 0px;
        padding: 75px 30px;
    }
}


#progress-container {
    background-color:#ccc;
    border-radius: 5px;
    cursor: pointer;
    margin:  10px 0;
    margin-bottom: 30px;
    height: 4px;
    width: 100%;
}

#progress-bar {
    background-color:#FE4880;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}