* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #EEE;
}

.app-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.player {
    background-size: cover;
    width: 414px;
    max-width: 100%;
    border-radius: 16px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.1);
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1588894181387-939771976bdd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=606&q=80');
}

.player .overlay {
    padding: 200px 30px 50px;
    width: 414px;
    max-width: 100%;
    border-radius: 16px;
    background-size: cover;
    background-image: linear-gradient(360deg, black, transparent);
}

/* ------------EDIT ----------------*/
.song-img {
    position: relative;
    display: block;
    margin: 0 auto;
    
    width: 200px;
    max-width: 100%;
    border-radius: 50%;

    margin-bottom: 50px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-image: url('images/day-one.jpeg'); */

    transition: 0.4s;
}

.song-img:before {
    content: '';
    display: block;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    border-radius: 50%;
}
.song-img:after {
    content: '';
    padding-top: 100%;
    display: block;
}


/* ------------EDIT ----------------*/

.song-details {
    text-align: left;
    margin-bottom: 30px;
}

.song-details h2 {
       font-size: 24px;
       font-weight: 600;
       color: #ffffff;
       margin-bottom: 5px;
}

.song-details h3 {
    font-size: 16px;
    font-weight: 500;
    color: #c6c6c8;
    margin-bottom: 5px;
}

.player-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.player-controls .play-btn {
    background: none;
    border: none;
    outline: none;
    appearance: none;

    cursor: pointer;
    color: #ffffff;

    transition: 0.4s;
}

.player-controls .play-btn:hover {
    transform: scale(1.1);
}


.player-controls .control-btn {
    background: none;
    border: none;
    outline: none;
    appearance: none;

    cursor: pointer;
    color: #c6c6c8;

    transition: 0.4s;
}

.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }


.active-btn {
    color:#FE4880 !important; 
}


.player-controls .control-btn:hover {
    color: #ffffff;
}


@media (max-width: 414px) {
    .player {
        min-height: 100vh;
        border-radius: 0px;
        padding: 75px 30px;
    }
}


.progress-container {
    background-color:#ffffff;
    border-radius: 5px;
    cursor: pointer;
    margin:  10px 0;
    margin-bottom: 15px;
    height: 4px;
    width: 100%;
}

.progress-bar {
    background-color:#FE4880;
    border-radius: 5px;
    height: 100%;
    width: 0%;
    transition: width 0.1s linear;
}

#volume-container{
    position: relative;
    width: 100%;
    height: 15px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.volume-control-icon {
    background: none;
    border: none;
    outline: none;
    appearance: none;  
    color: #ffffff;
}
 .slider {
     width: 80%;
     height: 4px !important;
     -webkit-appearance: none;
     border-radius: 10px;
     background: linear-gradient(90deg,#FE4880 100%,#ffffff 60%);
     z-index: 100;
     outline: none;
 }

 .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: #FE4880;
     cursor: pointer;
     outline: none;
     transform: scale(1);

 }

 .slider:active::-webkit-slider-thumb {
     transform: scale(1.5);
 }


 #current-time {
    justify-content: space-between;
    display: flex;
    margin-bottom: 20px;
 }

 #current-time span {
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
 }
