
/**
* icons.scss
*
* Please note Google Material Icons were used in this project.
* More information on Google Material Icons here: https://developers.google.com/fonts/docs/material_icons
*/

@use 'variables' as * ;

.player-controls {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.player-controls .play-btn {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: $primary-color;
    transition: 0.4s;
}

.player-controls .play-btn:hover {
    transform: scale(1.1);
}

.control-btn {
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: $primary-color;
    opacity: 0.75;
    transition: 0.4s;
}

.control-btn:hover {
    opacity: 1;
}

// Google Material Icons Sizing 
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }
.material-icons.md-72 { font-size: 72px; }


.active-btn {
    color:$secondary-color !important; 
}

