/**
 * sliders.scss
 *
 * There two types of sliders below ( Time Seek and Volume sliders)
 * Incase you were wondering, different sliders were used in the this project exclusively for learning purposes 
 */
 
@use 'variables' as * ;


/**
 * Time Seek Slider
 */
.progress-container {
    background-color:rgba(255,255,255,.3);
    border-radius: 5px;
    cursor: pointer;
    margin:  10px 0;
    margin-bottom: 15px;
    height: 4px;
    width: 100%;
    
}

.progress-container:hover .progress-bar::before { opacity: 1; }
.progress-container:hover .progress-bar { background-color: $secondary-color; }

.progress-bar {
    align-items: center;
    border-radius: inherit;
    height: inherit;
    background-color: rgba(255,255,255,.85);
    width: 0%;
    transition: width 0.02s linear;
    position: relative;
    display: flex;
}

.progress-bar::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(255,255,255,1);
    cursor: pointer;
    outline:  none;
    opacity: 0;
    transition: opacity 0.2s ease;
    left: 100%;
}

.progress-bar::before.slider:active { transform: scale(2); }



/**
 * Volume Slider
 */
#volume-container{
    position: relative;
    width: 100%;
    height: 15px;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

 .slider {
     width: 80%;
     height: 4px !important;
     -webkit-appearance: none;
     border-radius: 10px;
     background: linear-gradient(90deg,rgba(255,255,255,.85)100%, rgba(255,255,255,.5) 60%);
     z-index: 100;
     outline: none;
     cursor: pointer;
 }

 .slider::-webkit-slider-thumb {
     -webkit-appearance: none;
     width: 10px;
     height: 10px;
     border-radius: 50%;
     background-color: rgba(255,255,255,1);
     cursor: pointer;
     outline:  none;
     transform: scale(1.5);

 }

 .slider:active::-webkit-slider-thumb { transform: scale(1.5); }
