/**
 * typography.scss
 *
 *  Google Fonts Roboto was used in this project. More info here https://fonts.google.com/
 */
 
@use 'variables' as * ;


.song-details {
    text-align: left;
    margin-bottom: 30px;
}

.song-details h2 {
    font-size: 24px;
    font-weight: 600;
    color: $primary-color;
    margin-bottom: 5px;
}

.song-details h3 {
    font-size: 16px;
    font-weight: 500;
    color: $primary-color;
    opacity: 0.75;
    margin-bottom: 5px;
}

.time {
    opacity: 0.75;
}

#current-time {
   justify-content: space-between;
   display: flex;
   margin-bottom: 20px;
}

#current-time span {
   font-size: 14px;
   font-weight: 500;
   color: $primary-color;
}
