/**
 * variables.scss
 *
 */
/**
 * typography.scss
 *
 *  Google Fonts Roboto was used in this project. More info here https://fonts.google.com/
 */
.song-details {
  text-align: left;
  margin-bottom: 30px;
}

.song-details h2 {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 5px;
}

.song-details h3 {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.75;
  margin-bottom: 5px;
}

.time {
  opacity: 0.75;
}

#current-time {
  justify-content: space-between;
  display: flex;
  margin-bottom: 20px;
}

#current-time span {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
}

/**
* icons.scss
*
* Please note Google Material Icons were used in this project.
* More information on Google Material Icons here: https://developers.google.com/fonts/docs/material_icons
*/
.player-controls {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.player-controls .play-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  transition: 0.4s;
}

.player-controls .play-btn:hover {
  transform: scale(1.1);
}

.control-btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  opacity: 0.75;
  transition: 0.4s;
}

.control-btn:hover {
  opacity: 1;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.material-icons.md-60 {
  font-size: 60px;
}

.material-icons.md-72 {
  font-size: 72px;
}

.active-btn {
  color: #1DB954 !important;
}

/**
 * sliders.scss
 *
 * There two types of sliders below ( Time Seek and Volume sliders)
 * Incase you were wondering, different sliders were used in the this project exclusively for learning purposes 
 */
/**
 * Time Seek Slider
 */
.progress-container {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  margin-bottom: 15px;
  height: 4px;
  width: 100%;
}

.progress-container:hover .progress-bar::before {
  opacity: 1;
}

.progress-container:hover .progress-bar {
  background-color: #1DB954;
}

.progress-bar {
  align-items: center;
  border-radius: inherit;
  height: inherit;
  background-color: rgba(255, 255, 255, 0.85);
  width: 0%;
  transition: width 0.02s linear;
  position: relative;
  display: flex;
}

.progress-bar::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  outline: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  left: 100%;
}

.progress-bar::before.slider:active {
  transform: scale(2);
}

/**
 * Volume Slider
 */
#volume-container {
  position: relative;
  width: 100%;
  height: 15px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.slider {
  width: 80%;
  height: 4px !important;
  -webkit-appearance: none;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.85) 100%, rgba(255, 255, 255, 0.5) 60%);
  z-index: 100;
  outline: none;
  cursor: pointer;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
  outline: none;
  transform: scale(1.5);
}

.slider:active::-webkit-slider-thumb {
  transform: scale(1.5);
}

/**
 * index.scss
 *
 * All partials are imported to this index file to be forwarded to main.scss
 */
/**
* main.scss
*
*  Google Fonts Roboto was used in this project. More info here https://fonts.google.com/
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #ffffff;
}

.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#app-content {
  margin-top: 220px;
}

.default-size {
  width: 414px;
  height: 736px;
  max-width: 100%;
  border-radius: 16px;
  background-size: cover;
}

.player {
  background-color: black;
}

@media (max-width: 414px) {
  .player {
    min-height: 100vh;
    border-radius: 0px;
    padding: 75px 30px;
  }
}
#video {
  position: absolute;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition-property: all ease-out;
  cursor: pointer;
}

.overlay {
  padding: 200px 30px 50px;
  background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8), transparent);
  position: absolute;
  transition: opacity 0.09s linear;
}

.hide {
  opacity: 0;
  transition: opacity 0.09s linear;
}/*# sourceMappingURL=main.css.map */